version: '3.8'

services:
  postgres:
    build:
      context: ./database
    container_name: cartographie_db_prod
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data

  server:
    build:
      context: ./server
      target: prod
    container_name: cartographie_server_prod
    restart: always
    environment:
      - PORT=3000
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=${POSTGRES_DB}
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - postgres

  client:
    build:
      context: ./client
      target: prod
    container_name: cartographie_client_prod
    restart: always
    ports:
      - "80:80"
    depends_on:
      - server

volumes:
  postgres_data_prod:
